In [ ]:
#Rule 1 : No space in between (use _ instead)

In [18]:
first_name = 'Syed'
print(first_name)

Syed

In [ ]:
#Rule 2 : No variable starting in the beginning

In [19]:
name1 = 'yusuf'
print(name1)

yusuf

In [ ]:
#Rule 3 : No special characters

In [31]:
#Introduction to String datatype : 
    
#It is immutable and 3 possible ways :
    #1.single quotes
    #2.double quotes
    #3.triple quotes

In [24]:
name='syed'
name1="syed1"
name2='''syed2'''

print(name)
print(name1)
print(name2)

syed
syed1
syed2

In [ ]:
#Introduction to string methods

In [30]:
#type method of string

In [25]:
type(name)

str

In [26]:
len(name)

4

In [27]:
full_name='syed yusuf'
print(full_name.title())

Syed Yusuf

In [28]:
print(full_name.count('u'))

2

In [32]:
full_name='syed mustafa'
print(full_name)

syed mustafa